<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js">
</script>
</head>
<body ng-app="">
<table align=center border=1>
<tr>
<td>enter number 1</td>
<td><input type=number ng-model="n1"></td>
</tr>
<tr>
<td>enter number 2</td>
<td><input type=number ng-model="n2"></td>
</tr>
<tr>
<td>addition</td>
<td>{{n1+n2}}</td>
</tr>
<tr>
<td>substraction</td>
<td>{{n1-n2}}</td>
</tr>
<tr>
<td>multiplication</td>
<td>{{n1*n2}}</td>
</tr>
<tr>
<td>division</td>
<td>{{n1/n2}}</td>
</tr>
</body>
</html>
